@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  src: url(xn75YHgl1nqmANMB-26xC7yuF86JRk4.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 700;
  src: url(xn76YHgl1nqmANMB-26xC7yuF8YyY14yd88.ttf) format('truetype');
}
