/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/

/*
     FILE ARCHIVED ON 05:26:28 Aug 15, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:56:31 Nov 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.818
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.045
  esindex: 0.014
  cdx.remote: 8.334
  LoadShardBlock: 97.71 (3)
  PetaboxLoader3.datanode: 101.614 (4)
  PetaboxLoader3.resolve: 120.378 (2)
  load_resource: 154.652
*/