/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/

/*
     FILE ARCHIVED ON 18:44:56 May 07, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:13:38 Nov 05, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.721
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.017
  esindex: 0.01
  cdx.remote: 72.666
  LoadShardBlock: 370.245 (3)
  PetaboxLoader3.datanode: 606.626 (5)
  load_resource: 389.918
  PetaboxLoader3.resolve: 107.785
  loaddict: 136.615
*/